/* _darkSettings Coded by: Joel N. Johnson */

$dark: darkSettings;

html.#{$dark}, body.#{$dark} {
    background-color: rgb(28, 29, 31);
    height: 100%;
    margin: 0;
    font-family: "Square Market", Helvetica, sans-serif;
    color: rgba(225, 225, 225, 0.85);
}

.#{$dark}Wrapper {
    min-height: calc(100% - 20px);
    height: auto;
}

.#{$dark}TopBar {
    margin-bottom: 200px;
    width: 100%;
    height: 85px;
}

.#{$dark}Corvin {
    float: left;
    width: 94%;
}

.#{$dark}CorvinHeader {
    color: rgb(0, 130, 140);
    font-family: "Square Market", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 35px;
    line-height: .5em;
    font-weight: 600;
    font-size: 50px;
    display: inline-block;
}

.#{$dark}CorvinHeader:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}CorvinHeader:active {
    /*text-shadow: 1px 1px 4px rgba(0,0,0,0.4);*/
}

.#{$dark}CorvinHeader:focus {
    outline: none;
    text-shadow: none;
}

.#{$dark}AccountMenuDropDown {
    position: absolute;
    display: inline-block;
    float: right;
}

p.#{$dark}AccountButton {
    color: rgba(0, 130, 140);
    text-align: right;
    margin-right: 35px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    float: right;
    display: inline-block;
}

p.#{$dark}AccountButton:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}AccountMenuContent {
    display: none;
    position: absolute;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(53, 54, 56);
    min-width: 260px;
    border-radius: 6px;
    border-width: thin;
    border-color: rgba(23, 23, 23, 0.25);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0);
    z-index: 2;
}

a.#{$dark}AccountMenuContent {
    color: rgba(255, 255, 255, 0.85);
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}

a.#{$dark}AccountMenuContent:hover {
    color: rgb(0, 130, 140);
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.#{$dark}TopAccountMenuContent {
    height: 150px;
}

.#{$dark}AccountMenuName {
    color: rgba(255, 255, 255);
    float: right;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
}

.#{$dark}DiskSpace {
    text-align: right;
    padding-right: 20px;
    margin-top: 50px;
}

p.#{$dark}DiskSpace {
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-family: "Square Market", Helvetica, sans-serif;
}

.#{$dark}MenuLine {
    margin: 35px 10px;
}

hr.#{$dark}MenuLine {
    color: rgba(23, 23, 23, 0.25);
}

.#{$dark}BottomAccountMenuContent {
}

a.#{$dark}GetMoreSpaceMenuItem {
    color: rgb(0, 154, 164);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$dark}GetMoreSpaceMenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

a.#{$dark}MenuItem {
    color: rgba(255, 255, 255, 0.85);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$dark}MenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.#{$dark}Show {
    display: block;
}

.#{$dark}MainContent {
    padding-left: 12.5%;
    padding-right: 12.5%;
    z-index: 1;
}

.#{$dark}GetMoreSpaceButton {
    background-color: rgb(0, 130, 140);
    border-width: thin;
    color: rgb(254, 254, 254);
    border-color: rgb(28, 29, 31);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    margin: auto;
    display: block;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}GetMoreSpaceButton:hover {
    background-color: rgb(0, 154, 164);
    cursor: pointer;
    box-shadow: none;
}

.#{$dark}GetMoreSpaceButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    transition: 250ms;
    outline: none;
}

.#{$dark}GetMoreSpaceButton:focus {
    outline: none;
}

.#{$dark}Header {
    font-size: 30px;
    height: 100px;
}

p.#{$dark}Header {
    color: rgba(255, 255, 255, 0.85);
}

.#{$dark}Content {
    width: 960px;
    margin: 0 auto;
    font-size: 20px;
}

.#{$dark}FirstHeader {
  font-size: 20px;
  font-weight: bold;
}

.#{$dark}Setting {
  height: 50px;
  margin-top: -10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  border-radius: 5px;
  cursor: pointer;
}

.#{$dark}Setting:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.#{$dark}SettingWithButton {
  height: 50px;
  margin-top: -10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.#{$dark}LeftItemBox {
  float: left;
  height: 50px;
  width: 50%;
}

.#{$dark}Item {
  color: rgba(255, 255, 255, 0.85);
  text-align: left;
}

.#{$dark}RightItemBox {
  float: right;
  height: 50px;
  width: 50%;
}

.#{$dark}Value {
  color: rgba(255, 255, 255, 0.85);
  float: right;
  text-align: right;
}

.#{$dark}DropdownSetting {
  height: 75px;
  margin-top: 25px;
  transition: 250ms;
}

.#{$dark}DropdownSettingPassword {
  height: 140px;
  margin-top: 25px;
  transition: 250ms;
}

.#{$dark}NamePasswordVerifyTextBox {
  margin-left: 16px;
}

.#{$dark}FirstNameChangeTextBox {
  margin-left: 15px;
}

.#{$dark}LastNameChangeTextBox {
  margin-left: 15px;
}

.#{$dark}FirstNameChangeTextBox,
.#{$dark}LastNameChangeTextBox,
.#{$dark}NamePasswordVerifyTextBox {
  width: 238px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}FirstNameChangeTextBox::placeholder,
.#{$dark}LastNameChangeTextBox::placeholder,
.#{$dark}NamePasswordVerifyTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}FirstNameChangeTextBox:focus,
.#{$dark}LastNameChangeTextBox:focus,
.#{$dark}NamePasswordVerifyTextBox:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}SaveChangesButton {
  background-color: rgb(53, 54, 56);
  border-color: rgba(255, 255, 255, 0);
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-left: 15px;
  padding: 6px 12px;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
}

.#{$dark}SaveChangesButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$dark}SaveChangesButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$dark}SaveChangesButton:focus {
    outline: none;
}

.#{$dark}ProfileImage {
  width: 45px;
  border-radius: 4px;
  margin-top: 7px;
}

.#{$dark}EmailPasswordVerifyTextBox {
  width: 250px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  margin-left: 257px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}EmailPasswordVerifyTextBox:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}EmailPasswordVerifyTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}EmailChangeTextBox {
  width: 250px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}EmailChangeTextBox:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}EmailChangeTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}UsernamePasswordVerifyTextBox {
  width: 250px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  margin-left: 257px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}UsernamePasswordVerifyTextBox:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}UsernamePasswordVerifyTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}UsernameChangeTextBox {
  width: 250px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}UsernameChangeTextBox:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}UsernameChangeTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}ChangePasswordButton {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 13px;
    border-radius: 4px;
    position: relative;
}

.#{$dark}ChangePasswordButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$dark}ChangePasswordButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$dark}ChangePasswordButton:focus {
    outline: none;
}

.#{$dark}PasswordRequirement {
  height: 50px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 15px;
}

p.#{$dark}PasswordRequirement {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}PasswordChangeForm {
  float: left;
}

.#{$dark}PasswordOldPasswordVerifyTextBox {
  margin-left: 16px;
}

.#{$dark}PasswordChangeTextBox {
  margin-left: 15px;
}

.#{$dark}PasswordChangeTextBox,
.#{$dark}PasswordOldPasswordVerifyTextBox {
  width: 238px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  float: left;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}PasswordChangeTextBox:focus,
.#{$dark}PasswordOldPasswordVerifyTextBox:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}PasswordChangeTextBox::placeholder,
.#{$dark}PasswordOldPasswordVerifyTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}Space {
  height: 100px;
  margin-top: -10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.#{$dark}Headers {
  font-size: 20px;
  font-weight: bold;
}

.#{$dark}Switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 60px;
  height: 34px;
  margin-top: 12px;
}

.#{$dark}Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.#{$dark}Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.#{$dark}Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .#{$dark}Slider {
  background-color: rgb(0, 130, 140);
}

input:focus + .#{$dark}Slider {
  box-shadow: 0 0 1px rgba(15, 15, 15, 1);
  outline: none;
}

input:checked + .#{$dark}Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.#{$dark}LedgerSizeButton {
  background-color: rgb(53, 54, 56);
  border-color: rgba(255, 255, 255, 0);
  border-width: thin;
  color: rgb(0, 130, 140);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  margin-top: 13px;
  border-radius: 4px;
  position: relative;
}

.#{$dark}LedgerSizeButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.#{$dark}LedgerSizeButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$dark}LedgerSizeButton:focus {
    outline: none;
}

.#{$dark}DateFormatButton {
  background-color: rgba(51, 204, 255, 0);
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  margin-top: 13px;
  border-radius: 4px;
  position: relative;
}

.#{$dark}DateFormatButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$dark}DateFormatButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$dark}DateFormatButton:focus {
    outline: none;
}

.#{$dark}DeleteAccountButton {
    color: rgb(0, 130, 140);
    background-color: rgb(53, 54, 56);
    border-color: rgba(255, 255, 255, 0);
    border-width: thin;
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 13px;
    border-radius: 4px;
    position: relative;
}

.#{$dark}DeleteAccountButton:hover {
    background-color: rgba(180, 33, 33);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.#{$dark}DeletAccountButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$dark}DeleteAccountButton:focus {
    outline: none;
}

.#{$dark}Footer, .#{$dark}Push {
    height: 200px;
}

.#{$dark}Footer {
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
