/* _darkHome Coded by: Joel N. Johnson */

$dark: darkHome;

html.#{$dark}, body.#{$dark} {
    background-color: rgb(28, 29, 31);
    height: 100%;
    margin: 0;
    font-family: "Square Market", Helvetica, sans-serif;
    color: rgba(225, 225, 225, 0.85);
}

.#{$dark}Wrapper {
    min-height: calc(100% - 20px);
    height: auto;
}

.#{$dark}TopBar {
    margin-bottom: 200px;
    width: 100%;
    height: 85px;
}

.#{$dark}Corvin {
    float: left;
    width: 94%;
}

.#{$dark}CorvinHeader {
    color: rgb(0, 130, 140);
    font-family: "Square Market", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 35px;
    line-height: .5em;
    font-weight: 600;
    font-size: 50px;
    position: absolute;
    @include noSelect;
}

.#{$dark}CorvinHeader:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}CorvinHeader:focus {
    outline: none;
}

.#{$dark}WorkspaceSettings {
  position: relative;
  float: right;
}

.#{$dark}WorkspaceSettingsMenuDropDown {
    position: relative;
    float: right;
}

.#{$dark}WorkspaceSettingsButton {
    color: rgb(0, 130, 140);
    margin-top: 35px;
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    @include noSelect;
}

.#{$dark}WorkspaceSettingsButton:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}WorkspaceSettingsMenuContent {
    display: none;
    position: absolute;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(53, 54, 56);
    min-width: 260px;
    border-radius: 6px;
    border-width: thin;
    border-color: rgba(23, 23, 23, 0.25);
    z-index: 2;
}

a.#{$dark}WorkspaceSettingsItem {
    color: rgb(0, 154, 164);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$dark}WorkspaceSettingsItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border-radius: 6px;
}

.#{$dark}InviteToWorkspacePopup {
  display: none;
  position: absolute;
  background-color: rgb(53, 54, 56);
  width: 50%;
  height: 50vh;
  margin-left: 25%;
  margin-top: 25vh;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  z-index: 3;
}

.#{$dark}InviteToWorkspaceHeader {
  height: 100px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  margin-left: 100px;
  padding-top: 100px;
}

.#{$dark}InviteToWorkspaceMessage {
  display: inline-block;
}

p.#{$dark}InviteToWorkspaceMessage {
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
}

p.#{$dark}InviteToWorkspaceCode {
  display: block;
  margin-left: 150px;
  padding: 50px 50px;
  color: rgba(0, 130, 140, 0.85);
  font-size: 18px;
}

.#{$dark}DoneInviteToWorkspaceButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  float: right;
  position: fixed;
  bottom: 30vh;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  vertical-align: middle;
}

.#{$dark}DoneInviteToWorkspaceButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}DoneInviteToWorkspaceButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}DoneInviteToWorkspaceButton:focus {
  outline: none;
}

.#{$dark}LeaveWorkspacePopup {
  display: none;
  position: absolute;
  background-color: rgb(53, 54, 56);
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  margin-top: 12.5vh;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  z-index: 3;
}

.#{$dark}LeaveWorkspaceHeader {
  height: 100px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  margin-left: 100px;
  padding-top: 100px;
}

.#{$dark}LeaveWorkspaceSubmitButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  margin-left: 15px;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

.#{$dark}LeaveWorkspaceSubmitButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}LeaveWorkspaceSubmitButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}LeaveWorkspaceSubmitButton:focus {
  outline: none;
}

.#{$dark}CancelLeaveWorkspaceButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  float: right;
  position: fixed;
  bottom: 30vh;
  margin-left: 65%;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  vertical-align: middle;
}

.#{$dark}CancelLeaveWorkspaceButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}CancelLeaveWorkspaceButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}CancelLeaveWorkspaceButton:focus {
  outline: none;
}

.#{$dark}Home {
    position: relative;
    float: right;
}

.#{$dark}HomeButton {
    color: rgb(0, 130, 140);
    margin-top: 35px;
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    @include noSelect;
}

.#{$dark}HomeButton:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}WorkspacesMenuDropDown {
    position: relative;
    float: right;
}

.#{$dark}WorkspacesButton {
    color: rgb(0, 130, 140);
    margin-top: 35px;
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    @include noSelect;
}

.#{$dark}WorkspacesButton:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}WorkspacesMenuContent {
    display: none;
    position: absolute;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(53, 54, 56);
    min-width: 260px;
    border-radius: 6px;
    border-width: thin;
    border-color: rgba(23, 23, 23, 0.25);
    z-index: 2;
}

.#{$dark}Workspace {
    color: rgba(225, 225, 225, 0.85);
    background-color: rgb(53, 54, 56);
    border: none;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    border-radius: 6px;
    width: 100%;
    text-align: left;
    display: block;
}

.#{$dark}Workspace:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    cursor: pointer;
}

.#{$dark}Workspace:active {
  outline: none;
}

a.#{$dark}NewWorkspaceMenuItem {
    color: rgb(0, 154, 164);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$dark}NewWorkspaceMenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border-radius: 6px;
}

.#{$dark}WorkspacesMenuHeath {
    background-color: rgb(18, 19, 21);
    border-radius: 4px;
    height: 3px;
    margin: 10px 10px;
}

.#{$dark}CreateWorkspacePopup {
  display: none;
  position: absolute;
  background-color: rgb(53, 54, 56);
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  margin-top: 12.5vh;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  z-index: 3;
}

.#{$dark}CreateWorkspaceHeader {
  height: 100px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  margin-left: 100px;
  padding-top: 100px;
}

.#{$dark}CreateWorkspaceMessage {
  display: inline-block;
}

p.#{$dark}CreateWorkspaceMessage {
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
}

.#{$dark}NewWorkspaceNameTextField {
  margin-left: 150px;
  padding: 5px 5px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  font-size: 20px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}NewWorkspaceNameTextField::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}NewWorkspaceNameTextField:focus {
    outline: none;
    border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}NewWorkspaceNameTextField::selection {
  background: rgba(23, 23, 23, 0.25);
}

.#{$dark}CreateWorkspaceSubmitButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  margin-left: 15px;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

.#{$dark}CreateWorkspaceSubmitButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}CreateWorkspaceSubmitButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}CreateWorkspaceSubmitButton:focus {
  outline: none;
}

.#{$dark}CancelCreateWorkspaceButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  float: right;
  position: fixed;
  bottom: 30vh;
  margin-left: 65%;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  vertical-align: middle;
}

.#{$dark}CancelCreateWorkspaceButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}CancelCreateWorkspaceButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}CancelCreateWorkspaceButton:focus {
  outline: none;
}

.#{$dark}JoinWorkspacePopup {
  display: none;
  position: absolute;
  background-color: rgb(53, 54, 56);
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  margin-top: 12.5vh;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  z-index: 3;
}

.#{$dark}JoinWorkspaceHeader {
  height: 100px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
  margin-left: 100px;
  padding-top: 100px;
}

.#{$dark}JoinWorkspaceMessage {
  display: inline-block;
}

p.#{$dark}JoinWorkspaceMessage {
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
}

.#{$dark}JoinWorkspaceCodeTextField {
  margin-left: 150px;
  padding: 5px 5px;
  width: 350px;
  border-color: rgba(23, 23, 23, 0.25);
  border-width: thin;
  border-radius: 4px;
  font-size: 20px;
  background-color: rgba(0, 130, 140, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}JoinWorkspaceCodeTextField::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}JoinWorkspaceCodeTextField:focus {
    outline: none;
    border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}JoinWorkspaceCodeTextField::selection {
  background: rgba(23, 23, 23, 0.25);
}

.#{$dark}JoinWorkspaceSubmitButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  margin-left: 15px;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

.#{$dark}JoinWorkspaceSubmitButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}JoinWorkspaceSubmitButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}JoinWorkspaceSubmitButton:focus {
  outline: none;
}

.#{$dark}CancelJoinWorkspaceButton {
  background-color: rgb(28, 29, 31);
  border-color: rgba(255, 255, 255, 0);
  float: right;
  position: fixed;
  bottom: 30vh;
  margin-left: 65%;
  border-width: thin;
  color: rgb(0, 154, 164);
  font-family: "Square Market", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  vertical-align: middle;
}

.#{$dark}CancelJoinWorkspaceButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(0, 130, 140);
  cursor: pointer;
  box-shadow: none;
}

.#{$dark}CancelJoinWorkspaceButton:active {
  box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
  transition: 250ms;
  border-color: rgb(0, 130, 140);
  outline: none;
}

.#{$dark}CancelJoinWorkspaceButton:focus {
  outline: none;
}

.#{$dark}AccountMenuDropDown {
    position: relative;
    float: right;
}

.#{$dark}AccountButton {
    color: rgb(0, 130, 140);
    margin-right: 75px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    @include noSelect;
}

.#{$dark}AccountButton:hover {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.#{$dark}AccountMenuContent {
    display: none;
    position: absolute;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(53, 54, 56);
    min-width: 260px;
    border-radius: 6px;
    border-width: thin;
    border-color: rgba(23, 23, 23, 0.25);
    z-index: 2;
}

a.#{$dark}AccountMenuContent {
    color: rgba(255, 255, 255, 0.85);
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}

a.#{$dark}AccountMenuContent:hover {
    color: rgb(0, 130, 140);
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.#{$dark}TopAccountMenuContent {
    height: 150px;
}

.#{$dark}AccountMenuName {
    color: rgb(255, 255, 255);
    float: right;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
}

.#{$dark}DiskSpaceUnlimited {
  text-align: right;
  padding-right: 20px;
  margin-top: 50px;
  color: rgba(255, 255, 255);
  font-size: 16px;
  font-family: "Square Market", Helvetica, sans-serif;
}

.#{$dark}DiskSpace {
  float: right;
  padding-right: 20px;
  margin-top: 50px;
  color: rgba(255, 255, 255);
  font-size: 16px;
  font-family: "Square Market", Helvetica, sans-serif;
}

.#{$dark}AccountMenuHeath {
    background-color: rgb(18, 19, 21);
    border-radius: 4px;
    height: 3px;
    margin: 35px 10px;
}

.#{$dark}BottomAccountMenuContent {
}

a.#{$dark}GetMoreSpaceMenuItem {
    color: rgb(0, 154, 164);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$dark}GetMoreSpaceMenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border-radius: 4px;
}

a.#{$dark}MenuItem {
    color: rgba(225, 225, 225, 0.85);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$dark}MenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.#{$dark}Show {
    display: block;
}

.#{$dark}Active {
  color: rgba(255, 255, 255, .85);
}

.#{$dark}MainContent {
    padding-left: 12.5%;
    padding-right: 12.5%;
    z-index: 1;
}

.#{$dark}CustomFileUpload {
    background-color: rgb(53, 54, 56);
    border-color: rgba(255, 255, 255, 0);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}CustomFileUpload:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$dark}CustomFileUpload:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
    outline: none;
}

.#{$dark}CustomFileUpload:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

.#{$dark}UploadButton {
    display: none;
    background-color: rgb(53, 54, 56);
    border-color: rgba(23, 23, 23, 0);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}UploadButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(0, 130, 140);
    cursor: pointer;
    box-shadow: none;
}

.#{$dark}UploadButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    transition: 250ms;
    border-color: rgb(0, 130, 140);
    outline: none;
}

.#{$dark}UploadButton:focus {
    outline: none;
}

.#{$dark}CreateFolderButton {
    background-color: rgb(53, 54, 56);
    border-color: rgba(255, 255, 255, 0);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}CreateFolderButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(0, 130, 140);
    cursor: pointer;
    box-shadow: none;
}

.#{$dark}CreateFolderButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    transition: 250ms;
    border-color: rgb(0, 130, 140);
    outline: none;
}

.#{$dark}CreateFolderButton:focus {
    outline: none;
}

.#{$dark}NewFolderNameTextBox {
    border-color: rgba(23, 23, 23, 0.25);
    background-color: rgba(0, 130, 140, 0.85);
    color: rgba(255, 255, 255, 0.85);
    border-width: thin;
}

.#{$dark}NewFolderNameTextBox::placeholder {
  color: rgba(255, 255, 255, .5);
}

.#{$dark}NewFolderNameTextBox:focus {
    outline: none;
    border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}NewFolderNameTextBox::selection {
  background: rgba(23, 23, 23, 0.25);
}

.#{$dark}RecentlyDeletedItems {
    background-color: rgb(53, 54, 56);
    border-color: rgba(255, 255, 255, 0);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}RecentlyDeletedItems:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$dark}RecentlyDeletedItems:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$dark}RecentlyDeletedItems:focus {
    outline: none;
}

.#{$dark}DirectoryPath {
    font-size: 30px;
}

p.#{$dark}DirectoryPath,
a.#{$dark}DirectoryPath {
    float: left;
	  color: rgba(255, 255, 255, 0.85);
}

.#{$dark}Directory {
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

.#{$dark}DraggableLedger {
  height: 40px;
  border-radius: 4px;
  padding-top: 20px;
  cursor: pointer;
}

.#{$dark}DraggableLedger:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.#{$dark}NonDraggableLedger {
  height: 40px;
  padding-top: 20px;
}

.#{$dark}FileNames {
    max-width: 85%;
    float: left;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.#{$dark}FileNames {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
}

.#{$dark}Folders {
    float: left;
    color: rgba(255, 255, 255, 0.85);
}

.#{$dark}DownloadButtonForm {
    float: left;
    margin-left: 5px;
    position: relative;
}

.#{$dark}DownloadButton {
    opacity: 0;
    transition: opacity .25s ease;
    width: 14px;
    border: none;
    display: inline-block;
    padding: 1px 1px;
    background: transparent;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}DownloadButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.#{$dark}DownloadButton:focus {
    box-shadow: none;
    outline: none;
}

.#{$dark}DownloadButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.#{$dark}RenameButtonForm {
    position: relative;
    margin-left: 3px;
    float: left;
}

.#{$dark}RenameButton {
    opacity: 0;
    transition: opacity .25s ease;
    border: none;
    height: 17px;
    background: transparent;
    display: inline-block;
    padding: 1px 1px;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$dark}RenameButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.#{$dark}RenameButton:focus {
    box-shadow: none;
    outline: none;
}

.#{$dark}RenameButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.#{$dark}RenameTextField {
    display: none;
    padding-right: 3px;
    position: relative;
    margin-left: -5px;
    padding: 3px 0;
    padding-left: 3px;
    float: left;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(0, 130, 140, 0.85);
    color: rgba(255, 255, 255, 0.85);
}

.#{$dark}RenameTextField::placeholder {
  color: rgba(255, 255, 255, .5);
  padding-left: 3px;
}

.#{$dark}RenameTextField:focus {
  outline: none;
  border-color: rgba(23, 23, 23, 0.85);
}

.#{$dark}RenameTextField::selection {
  background: rgba(23, 23, 23, 0.25);
}

.#{$dark}RecycleButtonForm {
    position: relative;
    margin-left: 3px;
    padding-top: 1px;
    float: left;
}

.#{$dark}RecycleButton {
    opacity: 0;
    transition: opacity .25s ease;
    width: 13px;
    background: transparent;
    border: none;
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    float: left;
}

.#{$dark}RecycleButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.#{$dark}RecycleButton:focus {
    box-shadow: none;
    outline: none;
}

.#{$dark}RecycleButton:active {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.4));
    outline: none;
}

.#{$dark}FileNames:hover .#{$dark}DownloadButton {
    opacity: 1;
}

.#{$dark}FileNames:hover .#{$dark}RenameButton {
    opacity: 1;
}

.#{$dark}FileNames:hover .#{$dark}RecycleButton {
    opacity: 1;
}

.#{$dark}FileSizes {
    float: right;
    font-size: 20px;
}

.#{$dark}Heath {
    background-color: rgb(18, 19, 21);
    border-radius: 2px;
    height: 3px;
}

.#{$dark}Files {
    float: left;
    color: rgba(255, 255, 255, 0.85);
}

.#{$dark}Footer, .#{$dark}Push {
    height: 20px;
}

.#{$dark}Footer {
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}
