/* _login Coded by: Joel N. Johnson */

$o: login;

html.#{$o}, body.#{$o} {
    background-color: rgb(254, 254, 254);
    height: 100%;
    margin: 0;
    font-family: "Square Market", Helvetica, sans-serif;
}

.#{$o}Center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.#{$o}Footer, .#{$o}Push {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.#{$o}FootCenter {
    width: 100%;
    text-align: center;
}

.#{$o}TopBar {
    margin: 0;
    width: 100%;
    float: left;
}

.#{$o}Corvin {
    color: rgba(23, 23, 23, 0.85);
    float: left;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    line-height: .5em;
    font-weight: 600;
    font-size: 120px;
    font-family: "Square Market", Helvetica, sans-serif;
}
.#{$o}Corvin:hover {
    color: rgb(0, 130, 140);
    transition: 250ms;
    cursor: default;
}

.#{$o}CorvinHeader {
    color: black;
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 25px;
    line-height: 0;
}

img.#{$o}Corvin {
    width: 500px;
    padding-left: 70%;
}

.#{$o}User {
    float: right;
    width: 40%;
}

p.#{$o}User {
    text-align: right;
    line-height: .5em;
    padding-right: 25px;
    font-size: 30px;
}

##{$o}Login {
    text-align: center;
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(23, 23, 23, 0.85);
}

.#{$o}TextBox {
    width: 300px;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 130, 140, 0.06);
}

.#{$o}TextBox:focus {
    outline: none;
    border-color: rgba(23, 23, 23, 0.85);
}

.#{$o}TextBox::selection {
  background: rgba(0, 130, 140, 0.25);
}

.#{$o}InvalidLogin {
  padding-left: 121px;
  display: block;
}

.#{$o}LoginButton {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.#{$o}LoginButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}LoginButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$o}LoginButton:focus {
    outline: none;
}

.#{$o}NewUserButton {
    float: right;
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 35px;
    vertical-align: middle;
    position: relative;
}

.#{$o}NewUserButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}NewUserButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$o}NewUserButton:focus {
    outline: none;
}


.#{$o}BackToLoginButton {
    float: right;
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 35px;
    vertical-align: middle;
    position: relative;
}

.#{$o}BackToLoginButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}BackToLoginButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$o}BackToLoginButton:focus {
    outline: none;
}

h1.#{$o} {
    color: black;
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 25px;
    line-height: 0;
}

p.#{$o} {
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 20px;
}

.#{$o}Footer {
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
