/* _newUser Coded by: Joel N. Johnson */

$o: newUser;

html.#{$o}, body.#{$o} {
    background-color: rgb(254, 254, 254);
    margin: 0;
    min-height: 100%;
    position: relative;
    font-family: "Square Market", Helvetica, sans-serif;
}

.#{$o}BackToLoginButton {
    float: right;
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 22px;
    margin-right: 27px;
    vertical-align: middle;
    position: relative;
}

.#{$o}BackToLoginButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}BackToLoginButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$o}BackToLoginButton:focus {
    outline: none;
}

.#{$o}Container {
    margin-bottom: 20px;
}

.#{$o}TopBar {
    margin-top: 5%;
    width: 100%;
    float: left;
}

.#{$o}Corvin {
    color: rgba(23, 23, 23, 0.85);
    float: left;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    line-height: .5em;
    font-weight: 600;
    font-size: 120px;
    font-family: "Square Market", Helvetica, sans-serif;
    margin-bottom: 5%;
}
.#{$o}Corvin:hover {
    color: rgb(0, 130, 140);
    transition: 250ms;
    cursor: default;
}

.#{$o}Login {
    text-align: center;
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(23, 23, 23, 0.85);
}

.#{$o}TextBox {
    width: 300px;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 130, 140, 0.06);
}

.#{$o}TextBox:focus {
    outline: none;
    border-color: rgba(23, 23, 23, 0.85);
}

.#{$o}TextBox::selection {
  background: rgba(0, 130, 140, 0.25);
}

.#{$o}LoginButton {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.#{$o}LoginButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}Recaptcha {
  margin-left: 50%;
  -ms-transform: translate(-152px, 0);
  transform: translate(-152px, 0);
}

.#{$o}PleaseCheckTheBox {
  font-size: 16px;
  font-family: "Square Market", Helvetica, sans-serif;
  color: rgba(23, 23, 23, 0.85);
}

.#{$o}Push {
  height: 3%;
  position: aboslute;
}

.#{$o}Footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  font-family: "Square Market", Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
