/* _recycleBin Coded by: Joel N. Johnson */

$o: recycleBin;

html.#{$o}, body.#{$o} {
    background-color: rgb(254, 254, 254);
    height: 100%;
    margin: 0;
    font-family: "Square Market", Helvetica, sans-serif;
    color: rgba(23, 23, 23, 0.85);
}

.#{$o}Wrapper {
    min-height: calc(100% - 20px);
    height: auto;
}

.#{$o}TopBar {
    margin-bottom: 200px;
    width: 100%;
    height: 85px;
}

.#{$o}Corvin {
    float: left;
    width: 94%;
}

.#{$o}CorvinHeader {
    color: rgba(23, 23, 23, 0.85);
    font-family: "Square Market", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 35px;
    line-height: .5em;
    font-weight: 600;
    font-size: 50px;
    display: inline-block;
}

.#{$o}CorvinHeader:hover {
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}CorvinHeader:active {
    /*text-shadow: 1px 1px 4px rgba(0,0,0,0.4);*/
}

.#{$o}CorvinHeader:focus {
    outline: none;
    text-shadow: none;
}

.#{$o}AccountMenuDropDown {
    position: absolute;
    display: inline-block;
    float: right;
}

p.#{$o}AccountButton {
    color: rgba(23, 23, 23, 0.85);
    text-align: right;
    margin-right: 35px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    float: right;
    display: inline-block;
}

p.#{$o}AccountButton:hover {
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}AccountMenuContent {
    display: none;
    position: absolute;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(254, 254, 254);
    min-width: 260px;
    border-radius: 6px;
    border-width: thin;
    border-color: rgba(23, 23, 23, 0.25);
    box-shadow: 0 2px 4px 0 rgba(23, 23, 23, 0.1);
    z-index: 2;
}

a.#{$o}AccountMenuContent {
    color: rgba(23, 23, 23, 0.85);
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}

a.#{$o}AccountMenuContent:hover {
    color: rgb(0, 130, 140);
    background-color: rgba(0, 130, 140, 0.06);
    cursor: pointer;
}

.#{$o}TopAccountMenuContent {
    height: 150px;
}

.#{$o}AccountMenuName {
    color: rgba(23, 23, 23, 0.85);
    float: right;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
}

.#{$o}DiskSpace {
    text-align: right;
    padding-right: 20px;
    margin-top: 50px;
}

p.#{$o}DiskSpace {
    font-size: 16px;
    font-family: "Square Market", Helvetica, sans-serif;
}

.#{$o}MenuLine {
    margin: 35px 10px;
}

hr.#{$o}MenuLine {
    color: rgba(23, 23, 23, 0.25);
}

.#{$o}BottomAccountMenuContent {
}

a.#{$o}GetMoreSpaceMenuItem {
    color: rgb(0, 154, 164);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$o}GetMoreSpaceMenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(0, 130, 140, 0.06);
    cursor: pointer;
}

a.#{$o}MenuItem {
    color: rgba(23, 23, 23, 0.85);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.#{$o}MenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(0, 130, 140, 0.06);
    cursor: pointer;
}

.#{$o}Show {
    display: block;
}

.#{$o}MainContent {
    padding-left: 12.5%;
    padding-right: 12.5%;
    z-index: 1;
}

.#{$o}RecentlyDeletedItems {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$o}RecentlyDeletedItems:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.#{$o}RecentlyDeletedItems:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.#{$o}RecentlyDeletedItems:focus {
    outline: none;
}

.#{$o}DirectoryPath {
    font-size: 30px;
}

p,a.#{$o}DirectoryPath {
	float: left;
	color: rgba(23, 23, 23, 0.85);
}

.#{$o}Directory {
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

.#{$o}FileNames {
    max-width: 85%;
    float: left;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.#{$o}Folders {
    float: left;
}

a.#{$o}FileNames {
    text-decoration: none;
    color: #000000;
}

.#{$o}DownloadButtonForm {
    float: left;
    margin-left: 5px;
    position: relative;
}

.#{$o}RenameButtonForm {
    position: relative;
    margin-left: 3px;
    float: left;
}

.#{$o}DownloadButton {
    opacity: 0;
    transition: opacity .25s ease;
    width: 14px;
    border: none;
    display: inline-block;
    padding: 1px 1px;
    background: transparent;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.#{$o}DownloadButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.#{$o}DownloadButton:focus {
    box-shadow: none;
    outline: none;
}

.#{$o}DownloadButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.#{$o}FileNames:hover .#{$o}DownloadButton {
    opacity: 1;
}

.#{$o}FileSizes {
    float: right;
    font-size: 20px;
}

.#{$o}Heath {
    background-color: rgba(240, 240, 240, .5);
    border-radius: 2px;
    font-size: 20px;
    margin-top: 5px;
}

.#{$o}Files {
    float: left;
}

.#{$o}Footer, .#{$o}Push {
    height: 20px;
}

.#{$o}Footer {
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
