@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Fixes iphone/ipad/mozilla button style default
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

@import 'login',
        'newUser',
        'registerNewUser',
        'lightHome',
        'darkHome',
        'lightSettings',
        'darkSettings';
