/*
        Last updated: January 8, 2018

        Coded by: Joel N. Johnson
*/

html, body {
    background-color: rgb(254, 254, 254);
    height: 100%;
    margin: 0;
    font-family: "Square Market", Helvetica, sans-serif;
    color: rgba(23, 23, 23, 0.85);
}

.Wrapper {
    min-height: calc(100% - 20px);
    height: auto;
}

.Footer, .Push {
    height: 20px;
}

.TopBar {
    margin-bottom: 200px;
    width: 100%;
    height: 85px;
}

.Corvin {
    float: left;
    width: 94%;
}

.CorvinHeader {
    color: rgba(23, 23, 23, 0.85);
    font-family: "Square Market", Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 35px;
    line-height: .5em;
    font-weight: 600;
    font-size: 50px;
    display: inline-block;
}

.CorvinHeader:hover {
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.CorvinHeader:active {
    /*text-shadow: 1px 1px 4px rgba(0,0,0,0.4);*/
}

.CorvinHeader:focus {
    outline: none;
    text-shadow: none;
}

.AccountMenuDropDown {
    position: absolute;
    display: inline-block;
    float: right;
}

.AccountMenuContent {
    display: none;
    position: absolute;
    right: 20px;
    margin-top: 60px;
    background-color: rgb(254, 254, 254);
    min-width: 260px;
    border-radius: 6px;
    border-width: thin;
    border-color: rgba(23, 23, 23, 0.25);
    box-shadow: 0 2px 4px 0 rgba(23, 23, 23, 0.1);
    z-index: 2;
}

a.AccountMenuContent {
    color: rgba(23, 23, 23, 0.85);
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}

a.AccountMenuContent:hover {
    color: rgb(0, 130, 140);
    background-color: rgba(0, 130, 140, 0.06);
    cursor: pointer;
}

.TopAccountMenuContent {
    height: 150px;
}

#AccountMenuName {
    color: rgba(23, 23, 23, 0.85);
    float: right;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
}

#DiskSpace {
    text-align: right;
    padding-right: 20px;
    margin-top: 50px;
}

p#DiskSpace {
    font-size: 16px;
    font-family: "Square Market", Helvetica, sans-serif;
}

.MenuLine {
    margin: 35px 10px;
}

hr.MenuLine {
    color: rgba(23, 23, 23, 0.25);
}

.BottomAccountMenuContent {
}

a.GetMoreSpaceMenuItem {
    color: rgb(0, 154, 164);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.GetMoreSpaceMenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(0, 130, 140, 0.06);
    cursor: pointer;
}

a.MenuItem {
    color: rgba(23, 23, 23, 0.85);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    display: block;
}

a.MenuItem:hover {
    color: rgb(0, 154, 164);
    background-color: rgba(0, 130, 140, 0.06);
    cursor: pointer;
}

.Show {
    display: block;
}

a.HomeButton {
    color: rgba(23, 23, 23, 0.85);
    text-align: right;
    margin-right: 35px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    /*float: right;*/
    display: inline-block;
}

a.HomeButton:hover {
    color: rgb(0, 130, 140);
    cursor: pointer;
}

p.AccountButton {
    color: rgba(23, 23, 23, 0.85);
    text-align: right;
    margin-right: 35px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    float: right;
    display: inline-block;
}

p.AccountButton:hover {
    color: rgb(0, 130, 140);
    cursor: pointer;
}

#Logout {
    text-align: right;
    padding-right: 25px;
}

.LogoutButton {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.LogoutButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.LogoutButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.LogoutButton:focus {
    outline: none;
}

.MainContent {
    padding-left: 12.5%;
    padding-right: 12.5%;
    z-index: 1;
}

input[type="file"] {
    display: none;
}

.CustomFileUpload {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.CustomFileUpload:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.CustomFileUpload:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
    outline: none;
}

.CustomFileUpload:focus {
    outline: none;
}

.UploadButton {
    display: none;
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.UploadButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
    box-shadow: none;
}

.UploadButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    transition: 250ms;
    border-color: rgb(0, 130, 140);
    outline: none;
}

.UploadButton:focus {
    outline: none;
}

.CreateFolderButton {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.CreateFolderButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
    box-shadow: none;
}

.CreateFolderButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    transition: 250ms;
    border-color: rgb(0, 130, 140);
    outline: none;
}

.CreateFolderButton:focus {
    outline: none;
}

.RecentlyDeletedItems {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.RecentlyDeletedItems:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.RecentlyDeletedItems:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.RecentlyDeletedItems:focus {
    outline: none;
}

.GetMoreSpaceButton {
    background-color: rgb(0, 130, 140);
    border-width: thin;
    color: rgb(254, 254, 254);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    margin: auto;
    display: block;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.GetMoreSpaceButton:hover {
    background-color: rgb(0, 154, 164);
    cursor: pointer;
    box-shadow: none;
}

.GetMoreSpaceButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    transition: 250ms;
    outline: none;
}

.GetMoreSpaceButton:focus {
    outline: none;
}

.DirectoryPath {
    font-size: 30px;
}

p,a.DirectoryPath {
	float: left;
	color: rgba(23, 23, 23, 0.85);
}

.SettingsHeader {
    font-size: 30px;
    height: 100px;
}

p.SettingsHeader {
    float: left;
    color: rgba(23, 23, 23, 0.85);
}

.SettingsContent {
    width: 90%;
    margin-left: 5%;
}

.NameAndEmail {
    height: 150px;
    margin: auto;
}

.NameAndEditName {
    height: 150px;
    width: 50%;
    float: left;
    margin-left: -35px;
}

.Name {
    height: 150px;
    width: 50%;
    float: left;
}

.EditName {
    height: 150px;
    margin-left: 50%;
}

.EmailAndEditEmail {
    height: 150px;
    margin-left: 50%;
}

.Email {
    height: 150px;
    width: 50%;
    float: left;
}

.EditEmail {
    height: 150px;
    margin-left: 50%;
}

.UsernameAndPassword {
    height: 150px;
    width: 100%;
}

.UsernameAndEditUsername {
    float: left;
    height: 150px;
    width: 50%;
}

.Username {
    height: 150px;
    width: 50%;
    float: left;
}

.EditUsername {
    height: 150px;
    margin-left: 50%;
}

.ChangePassword {
    height: 150px;
    width: 50%;
    float: left;
}

.Container {
    height: 150px;
    position: relative;
}

.VerticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.AccountInfo {
    font-size: 25px;
}

.AccountInfoEdit {
    font-size: 13px;
}

#Directory {
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

#LedgerLines {
    background-color: rgba(0, 130, 140, 0.06);
}

#FileNames {
    max-width: 85%;
    float: left;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a#FileNames {
    text-decoration: none;
    color: #000000;
}

.Folders {
    float: left;
}

.Files {
    float: left;
}

#FileSizes {
    float: right;
    /*background-color: rgba(255, 255, 150, .5);*/ /*yellow*/
    font-size: 20px;
}

.CopyTextButton {
    opacity: 0;
    transition: opacity .25s ease;
    background-color: rgba(51, 204, 255, .85); /* cyan */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 1px 1px;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

#FileNames:hover .CopyTextButton {
    opacity: 1;
}

.CopyTextButton:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}

.CopyTextButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.CopyTextButton:focus {
    box-shadow: none;
    outline: none;
}

.DownloadButton {
    opacity: 0;
    transition: opacity .25s ease;
    width: 14px;
    border: none;
    display: inline-block;
    padding: 1px 1px;
    background: transparent;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.DownloadButtonForm {
    float: left;
    margin-left: 5px;
    position: relative;
    /*background-color: rgba(255, 0, 255, 0.5);*/
}

.RenameButtonForm {
    position: relative;
    margin-left: 3px;
    float: left;
    /*background-color: rgba(0, 255, 255, 0.5);*/
}

.RenameTextField {
    position: relative;
    margin-left: 3px;
    float: left;
}

.RecycleButtonForm {
    position: relative;
    margin-left: 3px;
    padding-top: 1px;
    float: left;
    /*background-color: rgba(255, 255, 0, 0.5);*/
}

#FileNames:hover .DownloadButton {
    opacity: 1;
}

.DownloadButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.DownloadButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.DownloadButton:focus {
    box-shadow: none;
    outline: none;
}

.RenameButton {
    opacity: 0;
    transition: opacity .25s ease;
    border: none;
    height: 17px;
    background: transparent;
    display: inline-block;
    padding: 1px 1px;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}

.RenameSubmitButton {
    background-color: rgba(128, 128, 128, .85); /* grey */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 1px 1px;
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
    position: relative;
    display: none;
    margin-top: 3px;
    float: left;
}

.RenameSubmitButton:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}

.RenameSubmitButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.RenameSubmitButton:focus {
    box-shadow: none;
    outline: none;
}

#FileNames:hover .RenameButton {
    opacity: 1;
}

.RenameButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.RenameButton:active {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    outline: none;
}

.RenameButton:focus {
    box-shadow: none;
    outline: none;
}

.RenameTextField {
    display: none;
    padding-right: 3px;
}

.RecycleButton {
    opacity: 0;
    transition: opacity .25s ease;
    width: 13px;
    background: transparent;
    border: none;
    margin-top: 3px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    float: left;
}

#FileNames:hover .RecycleButton {
    opacity: 1;
}

.RecycleButton:hover {
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.4));
    cursor: pointer;
}

.RecycleButton:active {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.4));
    outline: none;
}

.RecycleButton:focus {
    box-shadow: none;
    outline: none;
}

#Heath {
    background-color: rgba(240, 240, 240, .5);
    border-radius: 2px;
    font-size: 20px;
    margin-top: 5px;
}

h1 {
    color: black;
    /*font-family: "Garamond", serif;*/
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 25px;
    line-height: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    /*font-family: "Times New Roman", serif;*/
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 20px;
}

li, ul {
    list-style-type: none;
}

.Footer {
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

#DiskSpace {
    text-align: right;
    border-width: 1px;
}
