/* Coded by: Joel N. Johnson */

html, body {
    background-color: rgb(254, 254, 254);
    height: 100%;
    margin: 0;
    font-family: "Square Market", Helvetica, sans-serif;
}

.BackToLoginButton {
    float: right;
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 35px;
    vertical-align: middle;
    position: relative;
}

.BackToLoginButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.BackToLoginButton:active {
    box-shadow: 1px 1px 3px rgba(23, 23, 23, 0.25);
    border-color: rgb(0, 130, 140);
    transition: 250ms;
}

.BackToLoginButton:focus {
    outline: none;
}

.Center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.TopBar {
    margin: 0;
    width: 100%;
    float: left;
}

.Corvin {
    color: rgba(23, 23, 23, 0.85);
    float: left;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    line-height: .5em;
    font-weight: 600;
    font-size: 120px;
    font-family: "Square Market", Helvetica, sans-serif;
}
.Corvin:hover {
    color: rgb(0, 130, 140);
    transition: 250ms;
    cursor: default;
}

.Login {
    text-align: center;
    font-family: "Square Market", Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(23, 23, 23, 0.85);
}

.TextBox {
    width: 300px;
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgba(0, 130, 140, 0.06);
}

.TextBox:focus {
    outline: none;
    border-color: rgba(23, 23, 23, 0.85);

}

.LoginButton {
    background-color: rgba(51, 204, 255, 0);
    border-color: rgba(23, 23, 23, 0.25);
    border-width: thin;
    color: rgb(0, 154, 164);
    font-family: "Square Market", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.LoginButton:hover {
    background-color: rgba(0, 130, 140, 0.06);
    color: rgb(0, 130, 140);
    cursor: pointer;
}

.Footer, .Push {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.FootCenter {
    width: 100%;
    text-align: center;
}
